<div class="banner">
  <div class="banner-content">
    <h1>Cocktails for all</h1>
    <p>Share your best recipes to the community</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success" %>
  </div>
</div>
