<div class="banner">
  <div class="banner-content">
    <h1>Cocktails for all</h1>
    <p>Share your best recipes to the community</p>
    <a class="btn btn-primary btn-lg">Go!</a>
  </div>
</div>

<div class="container">
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @cocktails.each do |cocktail| %>
        <ul>
          <div class="card">
            <div class="card-description">
              <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
            </div>
          </div>
        </ul>
      <% end %>
    </div>
  </div>
</div>



  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success" %>
</div>
