<%= render 'layouts/navbar' %>

<div class="container">
  <div class=card-about>
    <h2>We are passionate about cocktails</h2>
    <p>At Le Wagon, coding bootcamp where we learn Web programmation, we used to have a drink after a long working day. Bored of drinking beers, we tried cocktails and discovered a new passion we want to share with all of you!</p>
  </div>
</div>
