<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to image_tag("logo.png"), "/", class: "navbar-wagon-brand" %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "About", about_pages_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Menu", cocktails_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <!-- Profile picture with dropdown list -->
  </div>
</div>
